body {
  background-color: lightgray;
}

.row div {
  background-color: blue;
  vertical-align: middle;
  text-align: center;
  line-height: calc(100vh/6);
  height: calc(100vh/6);
  border: 4px solid black;
  text-transform: uppercase;
  font-weight: bold;
}

#question {
  height: 100%;
  width: 100%;
  background-color: blue;
  position:fixed;
  left: 100%;
  top: 0;
  z-index: 1.2;
  transition: transform 0.3s;
  will-change: transform;
}

#question.show {
  transform: translateX(-100%);
}

#question a {
  font-size: 45px;
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  text-decoration: none;
}

#question a:hover {
  text-decoration: none;
}

#question-text {
  position: absolute;
  height: 20%;
  top: 40%;
  bottom: 40%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 60px;
}

.buttons {
  position: absolute;
  height: 20%;
  bottom: 32px;
  width: 100%;
  text-align: center;
}

#timer {
  position: absolute;
  height: 20%;
  top: 20%;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}

button {
  background: white;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 32px;
  font-weight: bold;
  margin: 16px;
}

#names {
  color: white;
  font-size: 28px;

}

.money div{
  color: yellow;
  font-size: 50px;
  text-shadow: 2px 2px 2px black;
}

#correct {
    color: white;
    background-color: green;
}

#incorrect {
    color: white;
    background-color: red;
}

#turn {
    color: white;
        font-family: arial, sans-serif;
        font-size: 24px;
        text-transform: capitalize;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 16px;
        width: 100vw;
        text-align: center;
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
}