body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

#status {
    padding: 0;
    margin: 0;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20vh;
    width: 100%;
    background: white;
    color: black;
    font-size: 32px;
    line-height: 20vh;
    vertical-align: middle;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}